<%=flash[:message_sent]%>

<body>
  <% if !@user %>
  <form action='/users/new' method='get'>
    <input type='submit' value='Sign up'>
  </form>
  <form action='/session/new'>
    <input type='submit' value='Sign in'>
  </form>
  <% else %>
    <%= @user.first_name %>
    <form action='/session/end' method='post'>
      <input type='submit' value='Sign out'>
    </form>
    <form action='/messages/index' method='get'>
      <input type='submit' value='Messages'>
    </form>
    <form action='/listing/new' method='get'>
      <input type='submit' value='Add listing'>
    </form>
  <% end %>

  <div class='listing_preview'>
    <ul>
      <% @listings.each do |listing| %>
      <% next if listing.listing_id == "0"%>
        <li>
          <a href='/listing/<%= listing.listing_id %>' >
            <%=listing.name %><br>
            <%=listing.city %>, <%=listing.country %><br>
            <%=listing.type %>: Sleeps <%=listing.sleeps %>, <%=listing.bedrooms %> bedrooms, <%=listing.bathrooms %> bathrooms.<br>
            £<%=listing.price %> per night <br>
            <%=listing.description %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>

</body>
