<body>

  Title: <%= @listing.name %><br/>
  Description: <%= @listing.description %><br/>
  Location: <%= @listing.country %>, <%= @listing.city %><br/><br/>
  <%= @listing.sleeps %> sleeps <br/>
  <%= @listing.bedrooms %> bedrooms <br/>
  <%= @listing.bathrooms %> bathrooms <br/>
  Type: <%= @listing.type %><br/>
  Price per night: £<%= @listing.price %><br/><br/>

  <% if !@availability.empty? %>
    <p> Available from: <%= @availability.first.dates %> </p>
    <p> Until: <%= @availability.last.dates %> </p>
  <% end %>

  <%if @user%>
    <% if @user.user_id == @listing.user_id %>
    <input type='hidden' name='_method' value='patch'>
      <form action='/listing/<%= @listing.listing_id %>/edit' >
        <input type='submit' value='Edit'>
      </form>
      <form action='/listing/<%= @listing.listing_id %>/availability' >
      <input type='submit' value='Add availability'>
      </form>
      <form action='/listing/<%=@listing.listing_id%>' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete listing'>
      </form>
    <%end%>
    <p>
      <% unless @user.user_id == @listing.user_id %>
        <form action='/messages/<%= @listing.user_id %>/new'>
          <% session[:listing_id] = @listing.listing_id %>
          <input type='submit' value='Message user'>
        </form>
      <% end %>
  <%end%>
</body>