<body>
  <%= @listing.name %>
  <%= @listing.description %>
  <%= @listing.country %>
  <%= @listing.city %>
  <%= @listing.sleeps %>
  <%= @listing.bedrooms %>
  <%= @listing.bathrooms %>
  <%= @listing.type %>
  <%= @listing.price %>


  <%if @user%>
    <% if @user.user_id == @listing.user_id %>
    <input type='hidden' name='_method' value='patch'>
      <form action='/listing/<%= @listing.listing_id %>/edit' >
        <input type='submit' value='Edit'>
      </form>
      <form action='/listing/<%= @user_id %>/availability' >#
      <input type='submit' value='Add avalability'>
      </form>
      <form action='/listing/<%=@listing.listing_id%>' method='post'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' value='Delete listing'>
      </form>
    <%end%>
  <%end%>
</body>


<form action='/listing/<%= @listing.listing_id %>' method= 'post'>
  <label for='start_date'>Start date (DD/MM/YYYY): </label><input type='text' name='startdate'> 
  <label for='end_date'>End date (DD/MM/YYYY): </label><input type='text' name='enddate'> 
</form>

array.each do |date|
  availability.create(date)

end
