<body>
  <%= @listing.name %>
  <%= @listing.description %>
  <%= @listing.country %>
  <%= @listing.city %>
  <%= @listing.sleeps %>
  <%= @listing.bedrooms %>
  <%= @listing.bathrooms %>
  <%= @listing.type %>
</body>